@font-face {
    font-family: 'Kanit-BlackItalic';
    src: url('/assets/fonts/Kanit-BlackItalic.ttf');
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('/assets/fonts/Kanit-Bold.ttf');
}

@font-face {
    font-family: 'Kanit-ThinItalic';
    src: url('/assets/fonts/Kanit-ThinItalic.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('/assets/fonts/Kanit-Black.ttf');
}

@font-face {
    font-family: 'Kanit-MediumItalic';
    src: url('/assets/fonts/Kanit-MediumItalic.ttf');
}

@font-face {
    font-family: 'Kanit-Mixed';
    src: url('/assets/fonts/Kanit-Light.ttf');
}

@font-face {
    font-family: 'Kanit-Italic';
    src: url('/assets/fonts/Kanit-Italic.ttf');
}

:root {
    --primary-dark-blue: #132D67;
    --primary-light-blue: #01BEFF;
    --primary-red: #E83032;
    --section-red: #F32735;
    --section-dark-blue: #121C4E;
    --section-gold: #8C734B;
    --secondary-light: #F1F1F1;
    --secondary-blue-light: #B0E0F5;
    --secondary-blue: #83CDEE;
    --secondary-blue-d: #51B8E7;
    --secondary-blue-dark: #0499E1;
    --secondary-green: #9AE78A;
    --secondary-yellow: #F8EB79;
    --text-color-primary: #102E67;
    --text-color-secondary: #2E3192;
}
